<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dragablz" version="0.0.3.203" targetFramework="net472" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net472" />
  <package id="ModernUICharts.WPF.Beta" version="0.9.1" targetFramework="net472" />
  <package id="NumericUpDown" version="3.0.2" targetFramework="net472" />
  <package id="Scar.Common.WPF.Controls.Behaviors" version="1.0.6731.30683" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.1.0.56" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="18.1.0.56" targetFramework="net472" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net472" />
</packages>